{% extends 'Blog/base.html' %}

{% block title %}
    О нас
{% endblock %}

{% block content %}
    <h1>О разработчике</h1>

    <section>
        <h2>Кто я</h2>
        <p>Привет! Меня зовут [Павел], я являюсь разработчиком этого сайта.</p>
    </section>

    <section>
        <h2>Личностные качества</h2>
        <ul>
            <li>Стремление к саморазвитию</li>
            <li>Ответственность</li>
            <li>Творческий подход к решению задач</li>
        </ul>
    </section>

    <section>
        <h2>Умения и знания в программировании</h2>
        <ul>
            <li>Языки программирования: Python, C++, C#, Lua, JavaScript</li>
            <li>Фреймворки: Django, Flask</li>
            <li>Фронтенд: HTML, CSS, JavaScript</li>
            <li>Базы данных: PostgreSQL, MySQL</li>
        </ul>
    </section>
{% endblock %}
